/* Animations component */
.slide {
    animation: slide 3s ease-in infinite forwards;
}

@keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(120px);}
    100% {transform: translateX(0);}
}

.rotate {
    animation: rotate 2s linear infinite;
    transform-origin: 80% 80%;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}