/* Mixins */
/* Reset*/
body, html * {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Base Typography*/
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Ubuntu", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
}

/* Base Styles*/
body {
  height: 100vh;
}

/* Grid */
.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 55px 1fr 1fr 1fr 1fr/100%;
  grid-template-areas: "navbar" "hero" "courses" "about" "footer";
}

@media (min-width: 768px) {
  .container {
    grid-template: 55px 1fr 1fr 1fr/50% 50%;
    grid-template-areas: "navbar navbar" "hero hero" "courses about" "footer footer";
  }
}
[data-grid-area=navbar] {
  grid-area: navbar;
}

[data-grid-area=hero] {
  grid-area: hero;
}

[data-grid-area=courses] {
  grid-area: courses;
}

[data-grid-area=about] {
  grid-area: about;
}

[data-grid-area=footer] {
  grid-area: footer;
}

/* Navigation Layout */
.navigation {
  position: relative;
  background-color: #000000;
}
.navigation__logo {
  position: absolute;
  padding: 0.5em 0;
  padding-left: 2em;
  width: 2.5em;
  height: 2.5em;
}
.navigation__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .navigation__container {
    max-height: 100%;
  }
}
.navigation__item a {
  display: block;
  text-align: right;
  padding: 0.5em 0;
  padding-right: 2.5em;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #000000;
}
@media only screen and (min-width: 768px) {
  .navigation__item a {
    background-color: #000000;
    padding-top: 1.2em;
    padding-bottom: 0.75em;
  }
}

@media only screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    padding: inherit;
    list-style-type: none;
  }
}
.collapsible {
  text-align: right;
}
.collapsible label {
  color: #FFFFFF;
  display: block;
  padding-top: 0.4em;
  padding-right: 1.5em;
  font-size: 1.8rem;
}
.collapsible label:hover {
  color: #FFA500;
}
@media only screen and (min-width: 768px) {
  .collapsible label {
    display: none;
  }
}

#menu {
  display: none;
}

input:checked ~ .navigation__container {
  max-height: 100%;
}

/* Hero Section Layout */
.hero {
  background-image: url("../../../assets/img/desarrolloweb2021t.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 350px;
  }
}

/* Courses section Layout */
.courses {
  margin: 1em;
  border: 1px solid #2E1503;
}

.card {
  margin: 1em;
  padding: 0.5em;
  border: 1px dotted #2E1503;
}
.card__title {
  padding-top: 0.5em;
}
.card__content {
  padding-top: 0.5em;
  line-height: 1.6;
}
.card__footer {
  padding-top: 0.5em;
}
.card__icons i {
  padding: 0.5em 0.3em;
}

/* About section Layout */
.about {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #2E1503;
}
.about__container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.about__image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #2E1503;
  align-self: center;
}
.about__title {
  align-self: center;
  padding-top: 0.5em;
}
.about__icons {
  align-self: center;
  padding-top: 0.5em;
}
.about__icons i {
  padding: 0 0.3em;
}
.about__content {
  padding-top: 0.5em;
  line-height: 1.6;
}
.about__subtitle {
  margin-top: 0.5em;
  text-align: center;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  background-color: #060606;
  width: 100%;
}
.about__list {
  list-style: circle;
  padding-top: 0.5em;
  margin-left: 1em;
}
.about__list a {
  text-decoration: none;
}
.about__animation {
  padding-top: 0.5em;
  align-self: center;
}

/* Footer Layout */
.footer {
  text-align: center;
  background-color: black;
  padding: 1em;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: inline-flex;
  }
}
@media only screen and (min-width: 768px) {
  .footer__item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
.footer__item p {
  margin: 0.8em 0;
  padding: 0 1em;
  font-family: "Poppins", sans-serif;
}
@media only screen and (min-width: 768px) {
  .footer__item p {
    padding: 1em;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
@media only screen and (min-width: 768px) {
  form {
    flex-direction: row;
  }
}

/* Animations component */
.slide {
  animation: slide 3s ease-in infinite forwards;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
.rotate {
  animation: rotate 2s linear infinite;
  transform-origin: 80% 80%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Buttons component */
.footer button {
  background-color: #FFAF6D;
  border: 2px solid #060606;
  color: #000000;
  font-weight: 700;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.8em 8em;
  cursor: pointer;
}
.footer button:hover {
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .footer button {
    margin: 0.8em 0;
  }
}

/* Input component */
.footer input {
  width: 50%;
  padding: 0.2em;
  margin: 0.8em 0;
  margin: auto;
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
}
.footer input:focus {
  background-color: #FFAF6D;
}

/*# sourceMappingURL=main.css.map */
