/* About section Layout */
.about {
    margin: 1em;
    padding: .5em;
    border: 1px solid $charcoal;
    &__container {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
    &__image {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 1px solid $charcoal;
        align-self: center;
    }
    &__title {
        align-self: center;
        padding-top: .5em;
    }
    &__icons {
        align-self: center;
        padding-top: .5em;
        i {
            padding: 0 .3em;
        }
    }
    &__content {
        padding-top: 0.5em;
        line-height: 1.6;
    }
    &__subtitle {
        margin-top: .5em;
        text-align: center;
        color: $white;
        font-family: $poppins;
        background-color: $sable;
        width: 100%;
    }
    &__list {
        list-style: circle;
        padding-top: .5em;
        margin-left: 1em;
        a {
            text-decoration: none;
        }
    }
    &__animation {
        padding-top: .5em;
        align-self: center;
    }
}

.slide {
    animation: slide 3s ease-in infinite forwards;
}

@keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(80px);}
    100% {transform: translateX(0);}
}

.rotate {
    animation: rotate 2s linear infinite;
    transform-origin: 80% 80%;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}